.Greeting {
  background-color: blue;
  color: aliceblue;
  padding: 20px;
}
.hello {
  background-color: black;
  color: aliceblue;
  padding: 20px;
}
.destructure {
  margin: 250px;
}
.condition {
  margin: 200px;
}

.image {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border: 2px solid #333;
  cursor: pointer;
}
.org {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
}
